html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(200, 179, 215, 1) 47%,
    rgba(148, 187, 233, 1) 100%
  );
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-info {
  display: flex;
  align-items: center;
}
.pokemon-info img {
  margin-right: 20px;
}
.PokemonCardPrimera {
  display: flex;
  flex-direction: column;
}

/* Primera Card */
#pokemonCard1.card {
  background-color: lightblue;
  margin: 20px 20px 20px 20px;
}
/* Segunda Card*/
#pokemonCard2.card {
  background-color: lightgreen;
  margin: 20px 20px 20px 20px;
}

/* Primera imagen*/
#Imagenprimera {
  display: block;
  margin: 20px auto;
}
.footer {
  margin-top: 20px;
  margin-bottom: 0;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
}
